<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <title>Sign Up</title>

        <!--Bootstrap css, using integrity attr to ensure correct content was downloaded -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <!--Open Sans font-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>

        <!--our stylesheet-->
        <link rel="stylesheet" href="css/main.css">

        <!-- angular script file -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

        <!-- our script file -->
        <script src="js/app.js"></script>

    </head>
    <body ng-app="">
        <main class="container" ng-controller="">
            <h1>Sign Up</h1>
            <h3>Our service is fun and awesome, but you must be 13 years old to join</h3>
            <hr>

            <form name="signUpForm" ng-submit="" novalidate>

                <!-- Make emailCheck later -->
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="text" class="form-control" id="email" name="email" ng-model="signUpForm.email" placeholder="Enter an email address" email-check required/>
                    <p class="validation-error"
                       ng-if="signUpForm.email.$error.emailCheck">Email address is not valid.</p>
                    <p class="validation-error"
                       ng-if="signUpForm.email.$error.required">Email address is required.</p>
                </div>

                <div class="form-group">
                    <lable for="birthdate">Birthdate:</lable>
                    <input type="text" class="form-control" id="birthdate" name="birthdate"
                           ng-model="signUpForm.birthdate" placeholder="Enter your birthdate MM/DD/YYYY" valid-date over-13 required/>
                           <!-- pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d"
                    <p class="validation-error"
                       ng-if="signUpForm.birthdate.$error.pattern">
                        Birthdate must be in the pattern MM/DD/YYYY</p> -->
                    <p class="validation-error validDate-error"
                       ng-if="signUpForm.birthdate.$error.validDate">This is not a valid date.</p>
                    <p class="validation-error over13-error"
                       ng-if="signUpForm.birthdate.$error.over13">You are not over 13.</p>
                    <p class="validation-error required-error"
                       ng-if="signUpForm.birthdate.$error.required">Birthdate is required.</p>
                </div>

                <div class="form-group">
                    <lable for="password">Password:</lable>
                    <input type="password" class="form-control" id="password" name="password" ng-model="signUpForm.password" placeholder="Enter your password" required/>
                    <p class="validation-error required-error"
                       ng-if="signUpForm.password.$error.required">Password is required.</p>
                </div>

                <div class="form-group">
                    <lable for="confirmPassword">Confirm Password:</lable>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="signUpForm.confirmPassword" placeholder="Reenter your password" password-match required/>
                    <p class="validation-error passwordMatch-error"
                       ng-if="signUpForm.confirmPassword.$error.passwordMatch">The passwords are not the same. Please check again.</p>

                    <p class="validation-error required-error"
                       ng-if="signUpForm.confirmPassword.$error.required">Confirming your password is required.</p>
                </div>

                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary"
                            ng-disabled="signUpForm.$invalid">
                        Submit
                    </button>
                </div>

            </form>
        </main>
    </body>
</html>