<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <title>Sign Up</title>

        <!--Bootstrap css, using integrity attr to ensure correct content was downloaded -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <!--Open Sans font-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>

        <!--our stylesheet-->
        <link rel="stylesheet" href="css/main.css">

        <!-- angular script file -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

        <!-- our script file -->
        <script src="js/app.js"></script>

    </head>
    <body ng-app="Coordinating">
        <main class="container" ng-controller="MainCtrl">
            <h1>Sign Up</h1>
            <h3>Our service is fun and awesome, but you must be 13 years old to join</h3>
            <br>

            <p class="alert alert-success" ng-show="confirm">Sign up complete!</p>

            <form name="signUpForm" ng-submit="complete()" novalidate>

                <div class="form-group">
                    <label for="emailInp">Email Address:</label>
                    <input type="email" class="form-control" id="emailInp" name="emailInp" ng-model="signUpForm.email" placeholder="Enter an email address" required/>
                    <p class="validation-error email-invalid-error"
                       ng-if="signUpForm.email.$error.email">Email address is not valid.</p>
                    <p class="validation-error email-required-error"
                       ng-if="signUpForm.emailInp.$dirty && signUpForm.emailInp.$error.required">Email address is required.</p>
                </div>

                <div class="form-group">
                    <label for="fname">First name:</label>
                    <input type="text" class="form-control" id="fname" name="fname" ng-model="signUp.fname" placeholder="first name"/>
                </div>

                <div class="form-group">
                    <label for="lname">Last name:</label>
                    <input type="text" class="form-control" id="lname" name="lname" ng-model="signUp.lname" placeholder="last name" required/>
                    <p class="validation-error" ng-if="signUpForm.lnameInp.$error.required">Last name is required</p>
                </div>

                <div class="form-group">
                    <lable for="birthdate">Birthdate:</lable>
                    <input type="text" class="form-control" id="birthdate" name="birthdate"
                           ng-model="signUp.birthdate" placeholder="Enter your birthdate MM/DD/YYYY" valid-date over-13 required/>
                           <!-- pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d"
                    <p class="validation-error"
                       ng-if="signUpForm.birthdate.$error.pattern">
                        Birthdate must be in the pattern MM/DD/YYYY</p> -->
                    <p class="validation-error validDate-error"
                       ng-if="signUp.birthdate.$error.validDate">This is not a valid date.</p>
                    <p class="validation-error over13-error"
                       ng-if="signUp.birthdate.$error.over13">You are not over 13.</p>
                    <p class="validation-error required-error"
                       ng-if="signUp.birthdate.$dirty && signUpForm.birthdate.$error.required">Birthdate is required.</p>
                </div>

                <div class="form-group">
                    <lable for="password">Password:</lable>
                    <input type="password" class="form-control" id="password" name="password" ng-model="signUp.password" placeholder="Enter your password" required/>
                    <p class="validation-error required-error"
                       ng-if="signUpForm.password.$dirty && signUpForm.password.$error.required">Password is required.</p>
                </div>

                <div class="form-group">
                    <lable for="confirmPassword">Confirm Password:</lable>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="signUp.confirmPassword" placeholder="Reenter your password" password-match required/>
                    <p class="validation-error passwordMatch-error"
                       ng-if="signUpForm.confirmPassword.$error.passwordMatch">The passwords are not the same. Please check again.</p>

                    <p class="validation-error required-error"
                       ng-if="signUpForm.confirmPassword.$dirty && signUpForm.confirmPassword.$error.required">Confirming your password is required.</p>
                </div>

                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary"
                            ng-disabled="signUpForm.$invalid">
                        Submit
                    </button>
                </div>

            </form>
        </main>
    </body>
</html>